<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbz1121.CarStore.dao.PicDao">

    <resultMap type="com.kbz1121.CarStore.entity.Pic" id="PicMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="validFlag" column="valid_flag" jdbcType="INTEGER"/>
        <result property="goodsFk" column="goods_fk" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PicMap">
        select
          id, path, type, valid_flag, goods_fk
        from pic
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PicMap">
        select
          id, path, type, valid_flag, goods_fk
        from pic
        <where>
            <if test="pic.id != null">
                and id = #{pic.id}
            </if>
            <if test="pic.path != null and pic.path != ''">
                and path = #{pic.path}
            </if>
            <if test="pic.type != null">
                and type = #{pic.type}
            </if>
            <if test="pic.validFlag != null">
                and valid_flag = #{pic.validFlag}
            </if>
            <if test="pic.goodsFk != null">
                and goods_fk = #{pic.goodsFk}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
    
        <!--查询全部数据-->
    <select id="queryAll" resultMap="PicMap">
        select
          id, path, type, valid_flag, goods_fk
        from pic
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="goodsFk != null">
                and goods_fk = #{goodsFk}
            </if>
        </where>
    </select>
    
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from pic
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="goodsFk != null">
                and goods_fk = #{goodsFk}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into pic(path, type, valid_flag, goods_fk)
        values (#{path}, #{type}, #{validFlag}, #{goodsFk})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pic(path, type, valid_flag, goods_fk)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.path}, #{entity.type}, #{entity.validFlag}, #{entity.goodsFk})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into pic(path, type, valid_flag, goods_fk)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.path}, #{entity.type}, #{entity.validFlag}, #{entity.goodsFk})
        </foreach>
        on duplicate key update
        path = values(path),
        type = values(type),
        valid_flag = values(valid_flag),
        goods_fk = values(goods_fk)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update pic
        <set>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag},
            </if>
            <if test="goodsFk != null">
                goods_fk = #{goodsFk},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from pic where id = #{id}
    </delete>

</mapper>
