<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbz1121.CarStore.dao.StoreDao">

    <resultMap type="com.kbz1121.CarStore.entity.Store" id="StoreMap">
        <result property="sid" column="sid" jdbcType="INTEGER"/>
        <result property="userFk" column="user_fk" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="stat" column="stat" jdbcType="INTEGER"/>
        <result property="validFlag" column="valid_flag" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="StoreMap">
        select
          sid, user_fk, name, stat, valid_flag, create_time
        from store
        where sid = #{sid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="StoreMap">
        select
          sid, user_fk, name, stat, valid_flag, create_time
        from store
        <where>
            <if test="store.sid != null">
                and sid = #{store.sid}
            </if>
            <if test="store.userFk != null">
                and user_fk = #{store.userFk}
            </if>
            <if test="store.name != null and store.name != ''">
                and name = #{store.name}
            </if>
            <if test="store.stat != null">
                and stat = #{store.stat}
            </if>
            <if test="store.validFlag != null">
                and valid_flag = #{store.validFlag}
            </if>
            <if test="store.createTime != null">
                and create_time = #{store.createTime}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
    
        <!--查询全部数据-->
    <select id="queryAll" resultMap="StoreMap">
        select
          sid, user_fk, name, stat, valid_flag, create_time
        from store
        <where>
            <if test="sid != null">
                and sid = #{sid}
            </if>
            <if test="userFk != null">
                and user_fk = #{userFk}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="stat != null">
                and stat = #{stat}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>
    
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from store
        <where>
            <if test="sid != null">
                and sid = #{sid}
            </if>
            <if test="userFk != null">
                and user_fk = #{userFk}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="stat != null">
                and stat = #{stat}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="sid" useGeneratedKeys="true">
        insert into store(user_fk, name, stat, valid_flag, create_time)
        values (#{userFk}, #{name}, #{stat}, #{validFlag}, #{createTime})
    </insert>

    <insert id="insertBatch" keyProperty="sid" useGeneratedKeys="true">
        insert into store(user_fk, name, stat, valid_flag, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.userFk}, #{entity.name}, #{entity.stat}, #{entity.validFlag}, #{entity.createTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="sid" useGeneratedKeys="true">
        insert into store(user_fk, name, stat, valid_flag, create_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userFk}, #{entity.name}, #{entity.stat}, #{entity.validFlag}, #{entity.createTime})
        </foreach>
        on duplicate key update
        user_fk = values(user_fk),
        name = values(name),
        stat = values(stat),
        valid_flag = values(valid_flag),
        create_time = values(create_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update store
        <set>
            <if test="userFk != null">
                user_fk = #{userFk},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="stat != null">
                stat = #{stat},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where sid = #{sid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from store where sid = #{sid}
    </delete>

</mapper>
