<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbz1121.CarStore.dao.UserDao">

    <resultMap type="com.kbz1121.CarStore.entity.User" id="UserMap">
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="pass" column="pass" jdbcType="VARCHAR"/>
        <result property="validFlag" column="valid_flag" jdbcType="INTEGER"/>
        <result property="stat" column="stat" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="memo" column="memo" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="INTEGER"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryByIdWithStore" resultMap="UserMap">
        SELECT u.*,s.sid as 'store' FROM user u LEFT JOIN store s on u.uid = s.user_fk WHERE u.valid_flag = 1 AND s.valid_flag = 1 AND u.type = 2
        and uid = #{uid}
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select
          uid, name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address
        from user
        where uid = #{uid} and valid_flag = 1
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select
          uid, name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address
        from user
        <where>
            <if test="user.uid != null">
                and uid = #{user.uid}
            </if>
            <if test="user.name != null and user.name != ''">
                and name = #{user.name}
            </if>
            <if test="user.type != null">
                and type = #{user.type}
            </if>
            <if test="user.pass != null and user.pass != ''">
                and pass = #{user.pass}
            </if>
            <if test="user.validFlag != null">
                and valid_flag = #{user.validFlag}
            </if>
            <if test="user.stat != null">
                and stat = #{user.stat}
            </if>
            <if test="user.phone != null and user.phone != ''">
                and phone = #{user.phone}
            </if>
            <if test="user.memo != null and user.memo != ''">
                and memo = #{user.memo}
            </if>
            <if test="user.createTime != null">
                and create_time = #{user.createTime}
            </if>
            <if test="user.updateTime != null">
                and update_time = #{user.updateTime}
            </if>
            <if test="user.updater != null">
                and updater = #{user.updater}
            </if>
            <if test="user.address != null and user.address != ''">
                and address = #{user.address}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>
    
        <!--查询全部数据-->
    <select id="queryAll" resultMap="UserMap">
        select
          uid, name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address
        from user
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="pass != null and pass != ''">
                and pass = #{pass}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="stat != null">
                and stat = #{stat}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="memo != null and memo != ''">
                and memo = #{memo}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
        </where> order by stat ,create_time
    </select>
    
    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from user
        <where>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="pass != null and pass != ''">
                and pass = #{pass}
            </if>
            <if test="validFlag != null">
                and valid_flag = #{validFlag}
            </if>
            <if test="stat != null">
                and stat = #{stat}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="memo != null and memo != ''">
                and memo = #{memo}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updater != null">
                and updater = #{updater}
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="uid" useGeneratedKeys="true">
        insert into user(name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address)
        values (#{name}, #{type}, #{pass}, #{validFlag}, #{stat}, #{phone}, #{memo}, #{createTime}, #{updateTime}, #{updater}, #{address})
    </insert>

    <insert id="insertBatch" keyProperty="uid" useGeneratedKeys="true">
        insert into user(name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.type}, #{entity.pass}, #{entity.validFlag}, #{entity.stat}, #{entity.phone}, #{entity.memo}, #{entity.createTime}, #{entity.updateTime}, #{entity.updater}, #{entity.address})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="uid" useGeneratedKeys="true">
        insert into user(name, type, pass, valid_flag, stat, phone, memo, create_time, update_time, updater, address)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.type}, #{entity.pass}, #{entity.validFlag}, #{entity.stat}, #{entity.phone}, #{entity.memo}, #{entity.createTime}, #{entity.updateTime}, #{entity.updater}, #{entity.address})
        </foreach>
        on duplicate key update
        name = values(name),
        type = values(type),
        pass = values(pass),
        valid_flag = values(valid_flag),
        stat = values(stat),
        phone = values(phone),
        memo = values(memo),
        create_time = values(create_time),
        update_time = values(update_time),
        updater = values(updater),
        address = values(address)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="pass != null and pass != ''">
                pass = #{pass},
            </if>
            <if test="validFlag != null">
                valid_flag = #{validFlag},
            </if>
            <if test="stat != null">
                stat = #{stat},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updater != null">
                updater = #{updater},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from user where uid = #{uid}
    </delete>

</mapper>
